div.row.service-container
  div.col-lg-12.service-header
    div.row.header
      div.container
        div.col-lg-10.col-md-10.col-sm-10.col-xs-12.dialog-description
          h1(style="font-size:30px;").service-title Annotating Watson Answers
          p This sample application accepts and sends user inquires to Watson, recieves Watson responses and enriches the results with DBPedia content.
